<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @directory.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @directory.email %>
</p>

<p>
  <strong>Graduation year:</strong>
  <%= @directory.graduation_year %>
</p>

<p>
  <strong>Mentor experience:</strong>
  <%= @directory.mentor_experience %>
</p>

<p>
  <strong>Depauw involvement:</strong>
  <%= @directory.depauw_involvement %>
</p>

<%= link_to 'Edit', edit_directory_path(@directory) %> |
<%= link_to 'Back', directories_path %>
