<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
    	<meta name="viewpoint" content="width=device-width, initial-scale=1">
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    	<script src="https://maxcdn.bootstrapcdn.com/bootsrap/3.3.7/js/bootstrap.min.js"></script>
    </head>

	<body class="userForm">
		<% provide(:title, 'Sign up') %>
		<h1> Sign up </h1>
		<%= form_for (@user) do |f| %>
			<%= f.label :name %> <br/>
			<%= f.text_field :name %> <br/>

			<%= f.label :email %> <br/>
			<%= f.text_field :email %> <br/>

			<%= f.label :password %> <br/>
			<%= f.text_field :password %> <br/>

			<%= f.label :password_confirmation, "Confirmation" %> <br/>
			<%= f.text_field :password_confirmation %> <br/>

			<%= f.submit "Create my account" %>
		<% end %>
	</body>
</html>