<!DOCTYPE html>
<html>
  <head>
    <title>Mentor Connection</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-inverse" role="navigation">
      <div class="container">
        <nav class="text-center">
          <div class="style_image">
            <h1><%= image_tag "DePauw_Tigers_logo.png", :width => "75px", :height => "auto" %> Mentor Connection </h1>
          </div>
        <ul class="nav navbar-nav navbar-left">
          <li><%= link_to "Home", '#'%></li>
          <li><%= link_to "Directory", '#'%></li>
          <li><%= link_to "Message Board", '#'%></li>
        </ul>
        </nav>
      </div>
    </header>
    <%= yield %>

      <div class="footer">
        <p>DePauw University First-Year Mentor Program Resource Center</p>
      </div>
    
  </body>
</html>
